plaso >= 1.5
dfvfs >= 20160803
rdflib
rdflib-jsonld
pypiwin32

# Plaso and DFVFS annoyingly doesn't specify their dependencies in their
# setup.py script. Therefore, we need to manually specify the dependencies
# here.
-r plaso_requirements.txt
-r dfvfs_requirements.txt